controlnet-aux==0.0.7
diffusers==0.27.0
transformers==4.38.2
xformers==0.0.25
opencv-contrib-python==4.9.0.80
mediapipe==0.10.11
git+https://github.com/huggingface/accelerate.git
git+https://github.com/tencent-ailab/IP-Adapter.git